.container {
  padding: 0.3em;
}
.container.grid {
  width: 50%;
}
.container.list {
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightblue;
  box-shadow: 4px 6px 12px 2px rgba(0, 0, 0, 0.59);
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
  height: 100%;
}
.metadata {
  margin-left: 0.3em;
}
.title,
.channel {
  margin: 0;
  font-size: 0.9rem;
}

.channel,
.published {
  font-size: 0.6rem;
}
